body {
	font-family: 'Montserrat', sans-serif;
}

/*nav*/

nav {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
	height: 60px;
	position: fixed;
	width: 100%;
	/*vertical center*/
	display: flex;
	align-items: center;
	z-index: 999;
}

nav ul {
	list-style-type: none;
	padding: 0;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul>li {
	display: inline-block;
}

nav ul>li>a {
	color: #9d9d9d;
	text-transform: lowercase;
}

nav ul>li>a:hover {
	text-decoration: none;
	color: #403f3f;
	transition: 0.5s;
}

header {
	margin-top: 60px;
	min-height: 75vh;
	padding: 0 30px;
	position: relative;
	width: 100%;
}

#top {
	display: flex;
	align-items: center;
}

.greeting {
	border-left: 5px solid #7ba7ba;
	font-weight: 300;
	width: 100%;
}

.greeting {
	font-size: 2.3em/**/;
	padding: 0 10px;
}

.section,
footer {
	padding: 20px 30px;
}

.section-header {
	margin-bottom: 20px;
}

#about .section-header {
	color: #7ba7ba;
}

#work .section-header {
	font-weight: 300;
}

.project {
	margin-bottom: 20px;
	transition: 0.3s;
}

.project-img {
	height: 150px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.project-img img {
	width: 100%;
	height: auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.project-dropdown {
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	cursor: pointer;
	font-weight: 500;
	padding: 8px 30px;
	position: relative;
}

.dropdown-icon {
	color: #7ba7ba;
	position: absolute;
	right: 30px;
}

.project-text {
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2; 
	display: none;
	padding-top: 20px;
	margin-top: -1px;
	padding:  20px 30px;
	font-size: 0.9em;
}

.project-text p:first-of-type,
.links-container p {
	font-weight: 500;
}

.links-container p {
	margin-bottom: 8px;
}

.project-text a {
	color: #7ba7ba;
}

.links-container a {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 5px;
}

.links-container a:hover {
	text-decoration: none;
}

#contact {
	background-color: #f8f8f8;
	margin-bottom: 0;
}

#contact .section-header {
	color: #7ba7ba;
}

.contact-item {
	margin-bottom: 20px;
}

.contact-item:last-of-type {
	margin-bottom: 0;
}

.contact-item p {
	margin-bottom: 0;
}

#contact a {
	color: #403f3f;
}

#contact a:hover {
	color: #403f3f;
}

footer {
	background-color: #7ba7ba;
	color: #fff;
	text-align: center;
	padding: 40px 0;
}

footer p {
	margin: 0;
	text-align: center;
}

footer a {
	padding: 0 5px;
}

footer a,
footer a:hover{
	color: rgb(255,255,255);
}

footer a:hover {
	text-decoration: none;
}

.modal-header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.modal-header button {
	background-color: rgba(0,0,0,0);
	border: none;
	cursor: pointer;
}

.modal-body img {
	width: 100%;
}

@media screen and (min-width: 768px) {
	#top,
	.section,
	footer {
		padding: 30px 70px;
	}

	header {
		min-height: 475px;
	}

	#top,
	.section {
		margin-bottom: 30px;
	}

	.greeting {
		font-size: 3em;
		position: relative;
		width: 70%;
	}

	.section-header {
		margin-bottom: 40px;
	}

	.section-header h2 {
		font-size: 2em;
	}

	.about-text p {
		font-size: 1.3em;
	}

	.project {
		margin-bottom: 30px;
	}

	.project-img {
	height: 300px;
	}


}

@media screen and (min-width: 992px) {
	body {
		padding: 0;
	}

	nav {
		height: 100vh;
		width: 25%;
		position: fixed;
	}

	nav ul {
		flex-direction: column;
		align-items: flex-end;
		margin: unset;
		position: absolute;
		top: 50px;
		width: 100%;
		padding: 0 5%;
	}

	nav ul>li {
		display: block;
		text-align: right;
	}

	nav ul>li>a {
		color: #9d9d9d;
		display: block;
		font-size: 2em;
		/*font-weight*/
		padding: 8px 0;
		text-transform: uppercase;
		transition: 0.5s;
	}

	header,
	#about {
		height: 100vh;
	}

	header {
		display: flex;
		align-items: center;
		margin-top: unset;
	}

	#top {
		padding: 0;
	}

	.section {
		width: 100%;
		padding: 50px 40px;
	}

	.greeting {
		width: 100%;
		/*position: absolute;
		top: 250px;*/
		color: #403f3f;
		text-shadow: 0.5px 0.5px 1px #fff;
		font-size: 2.5em;
	}

	.section-header {
		margin-bottom: 30px;
	}

	.section-header h2 {
		font-size: 3em;
	}

	#about .content,
	.about-img {
		display: inline-block;
	}

	.about-text {
		width: 80%;
	}

	.about-text p {
		font-size: 1.5em;
	}

	.img-container img {
		width: 100%;
	}

	.project {
		margin-bottom: 40px;
	}

	.project-dropdown,
	.project-text {
		background-color: #fff;
	}

	#contact {
		min-height: 500px;
	}

	#contact p {
		font-weight: 500;
	}

	.contact-item {
		text-align: left;
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1200px) {
	.greeting {
		font-size: 3.2em;
	}
}
