body {
	font-family: 'Roboto', sans-serif;
}

nav,
.nav-wrapper {
	background-color: rgba(255,255,255,0);
	box-shadow: none;
}

.menu {
	position: absolute;
	top: 10px;
	right: 25px;
	color: black;
}

h1 {
	color: ;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: 2px;
}

.content {
	width: 100%;
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}

h1,
h2,
p {
	text-align: center;
}

.greeting {
	transform: rotate(-7deg);
}

header h1 {
	font-weight: 900;
	font-size: 8.4em;
	margin-bottom: 0;
	text-transform: uppercase;
}

header p {
	font-size: 5em;
	margin: 0;
}

h2 {
	font-size: 2.5em;
	font-weight: 250;
}

header {
  background-color: rgb(236,185,57);
	height: 85vh;
	position: relative;
}

#skills img {
	display: block;
	max-width: 100%;
	margin: auto;
	border-radius: ;
	transition: 0.3s;
}

#skills img:hover {
	transform: scale(1);
	transition: 0.3s;
	z-index: 1;
}

.arrow-down {
	width: 35px;
	height: 35px;
	border: 2px solid #2a3a3f;
	border-radius: 50%;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
}

.arrow-down .material-icons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #2a3a3f;
	font-weight: bold;
}

#skills {
	padding: 30px 0;
}

#work {
	background: #eee;
	padding: 30px 0;
}

#work p {
	text-align: left;
	color: #2a3a3f;
}

#skills h2,
#work h2{
	color: #2a3a3f;
	font-weight: 600;
}

#work img {
	max-width: 100%;
}

.col {
	position: relative;
}

.preview {
	width: auto;
	border: 1px solid #2a3a3f;
	padding: 10px;
	border-radius: 10px;
	transition: 0.3s;
}

.preview:hover {
	border: 2px solid #2a3a3f;
	transition: 0.3s;
}
