body {
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
p {
	text-align: center;
}

.links a {
	color: rgb(55,46,41);
}

.icon-bar {
	background: rgb(55,46,41);
}

.navbar {
	background: rgba(255,255,255,0);
	border-bottom: none;
	padding: 20px 0 0 0;
	transition: background 0.3s, padding 0.5s;
}

.container-fluid {
	width: 90%;
	margin: auto;
}

.navbar-change {
	background: rgb(55,46,41) !important;
	padding: 0 !important;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
	transition: background 0.3s, padding 0.5s;
}

.navbar-change .navbar-brand {
	display: block;
}

.navbar-change .navbar-nav>li>a,
.navbar-change>.container-fluid .navbar-brand {
	color: rgb(255,255,255) !important;
	text-shadow: 2px 2px 8px #2a3a3f !important;
}

.navbar-change .navbar-nav>li>a:hover {
	background: rgb(255,255,255) !important;
	color: #2a3a3f !important;
	text-shadow: 2px 2px 8px rgb(255,255,255) !important;
}

.navbar-default .navbar-nav>li>a {
	font-weight: 400;
	font-size: 1.3em;
}

.navbar-default .navbar-nav>li>a:hover {
	background: rgba(255,255,255,0.65);
	text-shadow: none;
	color: black;
}

.navbar-brand {
	display: none;
	text-transform: uppercase;
}

.greeting h1,
.greeting p,
.arrow-down .glyphicon-chevron-down,
.navbar-default .navbar-nav>li>a {
	color: rgb(255,255,255);
	text-shadow: 2px 2px 8px #2a3a3f;
}

.greeting h1 {
	font-weight: 700;
	font-size: 6.5em;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.greeting p {
	font-size: 2.6em;
	margin: 0;
}

header .row {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

.links a {
	display: block;
	padding: 8px 14px;
	border: 2px solid rgb(55,46,41);
	border-radius: 20px;
	margin: 10px 0;
	text-align: center;
	transition: 0.4s;
}

.links a:hover {
	border: 2px solid black;
	color: #2a3a3f;
	font-weight: bold;
	transition: 0.4s;
}

.modal {
	background: white;
	height: auto;
}

.modal-content p {
	font-size: 1em;
	text-align: left;
	font-weight: normal;
}

header {
    background: url(images/background.jpg) no-repeat center;
    background-size: cover;
    background: ;
	height: 100vh;
	position: relative;
	width: 100%;
}

hr {
	color: #2a3a3f;
}

.links a:first-child {
	margin-top: 2.1rem;
}

.bar {
	width: 100%;
	height: 1px;
	background: #2a3a3f;
}

.social-media-links {
	margin: 30px auto 20px auto;
	text-align: center;
}

.social-media-links a {
	border: 1px solid rgb(255,255,255);
	border-radius: 5px;
	padding: 10px 14px;
	display: inline;
	transition: 0.3s;
}

.social-media-links a:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.5);
	text-shadow: 2px 2px 8px #2a3a3f;
	transition: 0.3s;
}

.modal-content p {
	line-height: 30px;
}

.arrow-down {
	background: rgba(255,255,255,0.1);
	width: 55px;
	height: 55px;
	border: 2px solid rgb(255,255,255);
	border-radius: 50%;
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.3s;
}

.arrow-down:hover {
	background: rgba(255,255,255,0.5);
	transition: 0.3s;
}

.arrow-down .glyphicon-chevron-down {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1em;
	font-weight: 100;
}

#about {
	background: rgb(255,255,255);
	padding: 20px 0;
}

/*#about h3 {
	text-align: center;
}*/

#about p {
	text-align: left;
}


#work {
	background: #eee;
	padding: 30px 0;
	transition: 0.5s;
}

#work img {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#work p {
	text-align: left;
	color: #2a3a3f;
}

#work h2 {
	margin-bottom: 55px;
	font-weight: bold;
}

#about h2,
#work h2{
	color: #2a3a3f;
	font-weight: 600;
	margin-top: 10px;
}

#work img {
	max-width: 100%;
}

.project {
	margin: 20px auto;
}

.col {
	position: relative;
}

footer {
	background: rgb(55, 46, 41);
	height: 20vh;
	color: rgb(255,255,255);
	text-align: center;
	font-family: 'Lora', serif;
}

footer p {
	margin: 0;
}

footer .back-to-top,
footer a,
footer a:hover{
	color: rgb(255,255,255);
}

footer a:hover {
	text-decoration: none;
}

@media screen and (max-width: 991px) {

	header .row {
		padding: 10% auto;
	}
	.greeting h1 {
		font-size: 5em;
	}

	.greeting p {
		font-size: 3em;
	}

	.navbar-default .navbar-toggle {
		background: rgba(255,255,255,0);
		border: 1px solid rgb(255,255,255);
	}

	.navbar-default .navbar-toggle .icon-bar {
		background: rgb(255,255,255);
	}

	.navbar-change .navbar-toggle {
		background: rgb(55,46,41) !important;
		border-color: rgb(255,255,255) !important;
	}

	.navbar-change .navbar-toggle .icon-bar {
		background: rgb(255,255,255) !important;

	}

}

@media screen and (max-width: 576px) {
	.greeting h1 {
		font-size: 60px;
	}

	.greeting p {
		font-size: 25px;
	}
}
