body {
	font-family: 'Roboto', sans-serif;
}

nav,
.nav-wrapper {
	background-color: rgba(255,255,255,0);
	box-shadow: none;
}

nav .nav-wrapper {
}

nav ul a {
	color: black;
}

nav ul a:hover {
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(255,255,255,0);
	border-radius: 10px;
	color: black;
}

.button-collapse {
	color: black;
}

h1 {
	color: ;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: 2px;
}

.content {
	width: 100%;
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}

h1,
h2,
p,
.back-to-top a {
	text-align: center;
}

h1 {
	font-weight: 100;
}

h2 {
	font-size: 2.5em;
	font-weight: 250;
}

.back-to-top a div {
	width: 100%;
}

.meter {
	height: 20px;  /* Can be anything */
	width: 100%;
  background: rgb(226,226,226);
}

.bar {
	height: 100%;
	/*background: green;*/
}

.parallax-container,
#contact {
	background: rgb(75,75,75);
}

header {
  background-color: rgb(236,185,57);
}

